@import url(http://fonts.googleapis.com/css?family=Lato);
*{
    font-family: 'Lato',sans-serif;
    color: #333;
}

a {
    text-decoration : none;
    color: #FF6699;
}

#content{
    margin:auto;
    width:740px;
    padding:10px;
    position:relative
}

h1{
    font-size : 4em;
}

h3 {
    margin: 40px 0px;
    text-align: center;		   
}

td {
    padding : 4pt;
    background : #FFDCBD;
}